<section class="recipe-main">
  <% @recipes.each do |recipe| %>
  <div class="recipe-container">
    <div class="left-content">
      <div class="title">
       <h3><%= link_to recipe.name, recipe_path(id: recipe.id) %></h3>
      </div>
      <div class="remove-btn">
      <% if can? :destroy, recipe %>
        <%= button_to "Remove", recipe_path(id: recipe.id), data: { turbo_method: :delete }, method: :delete, "turbo-frame": "recipes", class:"delete-button" %>
      <% end %>
      </div>


    </div>
    <div class="right-content">
      <p><%= recipe.description%></p>
    </div>
  </div>
  <% end %>


  <div class="back-link-container">
    <%= link_to 'Back', session.delete(:return_to) || root_path, class: "back-link" %>
  </div>
</div>
