<div class="navigation">
  <% unless current_user %>
    <%= link_to 'Log in', new_user_session_path, class: "menu-link" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "menu-link" %>
  <% end %>
  <% if current_user %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "menu-link" %>
  <% end %>
</div>
