<div class="main-container">
  <h1>Welcome to Recipe App!</h1>
  <p>
    <%= link_to 'Sign In', @sign_in_path, class: "main-link" %>
    <%= link_to 'Sign Up', @sign_up_path, class: "main-link" %>
  </p>

  <p>
    <%= link_to 'Add Food', new_food_path, class: "main-link" %>
    <%= link_to 'List Food', foods_path, class: "main-link" %>
  </p>
</div>
