/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.main-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2b2e38;
  border-radius: 6px;
  color: #ffeba7;
  text-align: center;
}

.main-container h1 {
  margin-bottom: 20px;
}

.main-container p {
  margin-bottom: 10px;
}

.main-container .main-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #ffeba7;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
}

.back-link-container {
  display: flex;
  justify-content: center;
}

.back-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #ffeba7;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2b2e38;
  border-radius: 6px;
  color: #ffeba7;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form .field {
  margin-bottom: 10px;
  padding-right: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #1f2029;
  color: #ffeba7;
}

.login-form .actions {
  text-align: center;
  margin-top: 20px;
}

.login-form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffeba7;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.registration-form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffeba7;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.login-form a {
  color: #ffeba7;
}

.links-text {
  text-align: center;
  margin: 5px;
}

.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2b2e38;
  border-radius: 6px;
  color: #ffeba7;
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form .field {
  margin-bottom: 20px;
  padding-right: 20px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #1f2029;
  color: #ffeba7;
}

.registration-form .actions {
  text-align: center;
  margin-top: 20px;
}

.registration-form a {
  color: #ffeba7;
}

/* Shared Styles */

.navigation {
  text-align: right;
  margin-bottom: 20px;
}

.menu-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #ffeba7;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
}

/* Food List Page */
.food-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2b2e38;
  border-radius: 6px;
  color: #ffeba7;
}

.food-list-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.food-list-container p {
  margin-bottom: 10px;
}

/* Create Food Page */
.create-food-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2b2e38;
  border-radius: 6px;
  color: #ffeba7;
}

.create-food-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.create-food-container label {
  display: block;
  margin-bottom: 5px;
}

.create-food-container input[type="text"],
.create-food-container input[type="number"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #1f2029;
  color: #ffeba7;
  margin-bottom: 10px;
}

.create-food-container input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffeba7;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
